/*공통*/
#wrap{position:relative;clear:both; margin:10px; }
#contents{position:relative;clear:both;}


#wrap h1{color:#736357;line-height:40px;}
#wrap .c_text{font-size:12px;line-height:40px;}
#wrap .flatbtn{color:#8c6239;text-decoration:underline;}


#step1 {border:3px solid #705c3b;background:#fff;}
#step1 h2{color:#636363;font-size:24px;line-height:40px;}
#step1 .p_c_text{font-size:12px;line-height:24px;}
#step1 .login_line{margin:10px 0 0;height:80px;}
#step1 .box_in{float:left;margin:0 10px 0; }
#step1 input{width:120px;height:24px;display:block;margin:3px 0 0;}
#step1 .btn_login{width:72px;height:60px;background:#363636;color:#e1e1e1;float:left;line-height:60px;text-align:center;}
#step1 .find_join{clear:both;margin:20px 0 0 10px;}

#step2 {border:3px solid #705c3b;background:#fff;}
#step2 h2{color:#636363;font-size:24px;line-height:40px;}
#step2 .p_c_text{font-size:12px;line-height:24px;}
#step2 .login_line{margin:10px 0 0;height:80px;}
#step2 .box_in{float:left;margin:0 10px 0; }
#step2 input{width:120px;height:24px;display:block;margin:3px 0 0;}
#step2 .btn_login{width:72px;height:60px;background:#363636;color:#e1e1e1;float:left;line-height:60px;text-align:center;}
#step2 .find_join{clear:both;margin:20px 0 0 10px;}

#deleteTab {border:3px solid #705c3b;background:#fff;}
#deleteTab h2{color:#636363;font-size:24px;line-height:40px;}
#deleteTab .p_c_text{font-size:12px;line-height:24px;}
#deleteTab .login_line{margin:10px 0 0;height:80px;}
#deleteTab .box_in{float:left;margin:0 10px 0; }
#deleteTab input{width:120px;height:24px;display:block;margin:3px 0 0;}
#deleteTab .btn_login{width:72px;height:60px;background:#363636;color:#e1e1e1;float:left;line-height:60px;text-align:center;}
#deleteTab .find_join{clear:both;margin:20px 0 0 10px;}

/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#step2 {
  width: 500px;height:700px;  /*팝업창의 크기조절*/
  margin-top:100px;           /*팝업창 위아래 간격조절*/
  padding: 18px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}


#step1 {
  width: 250px;height:250px;  /*팝업창의 크기조절*/
  margin-top:100px;           /*팝업창 위아래 간격조절*/
  padding: 18px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#deleteTab {
  width: 500px;height:500px;  /*팝업창의 크기조절*/
  margin-top:100px;           /*팝업창 위아래 간격조절*/
  padding: 18px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

