<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PingPongChat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.pingpong.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.pingpong.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TeamInfo</display-name>
    <servlet-name>TeamInfo</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.TeamInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamInfo</servlet-name>
    <url-pattern>/teamInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyByMember</display-name>
    <servlet-name>PropertyByMember</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.PropertyByMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyByMember</servlet-name>
    <url-pattern>/propertyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlMain</display-name>
    <servlet-name>ControlMain</servlet-name>
    <servlet-class>com.ktds.pingpong.view.ControlMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlMain</servlet-name>
    <url-pattern>/controlMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emailAuth</display-name>
    <servlet-name>emailAuth</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.emailAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailAuth</servlet-name>
    <url-pattern>/emailAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goLogin</display-name>
    <servlet-name>goLogin</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.goLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goLogin</servlet-name>
    <url-pattern>/goLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goSignup</display-name>
    <servlet-name>goSignup</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.goSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goSignup</servlet-name>
    <url-pattern>/goSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doSignUp</display-name>
    <servlet-name>doSignUp</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.doSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doSignUp</servlet-name>
    <url-pattern>/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkID</display-name>
    <servlet-name>checkID</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.checkID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkID</servlet-name>
    <url-pattern>/checkID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLogin</display-name>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.doLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goMain</display-name>
    <servlet-name>goMain</servlet-name>
    <servlet-class>com.ktds.pingpong.view.goMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goMain</servlet-name>
    <url-pattern>/goMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLogout</display-name>
    <servlet-name>doLogout</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.doLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogout</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAboutProfile</display-name>
    <servlet-name>doAboutProfile</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.doAboutProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAboutProfile</servlet-name>
    <url-pattern>/doAboutProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doChangeInfo</display-name>
    <servlet-name>doChangeInfo</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.doChangeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doChangeInfo</servlet-name>
    <url-pattern>/doChangeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatMemberServlet</display-name>
    <servlet-name>ChatMemberServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.view.ChatMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatMemberServlet</servlet-name>
    <url-pattern>/ChatMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePhotoServlet</display-name>
    <servlet-name>UpdatePhotoServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.UpdatePhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhotoServlet</servlet-name>
    <url-pattern>/updatePhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatServlet</display-name>
    <servlet-name>GetChatServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.GetChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatServlet</servlet-name>
    <url-pattern>/getChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertChatServlet</display-name>
    <servlet-name>InsertChatServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.InsertChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertChatServlet</servlet-name>
    <url-pattern>/insertChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNickNameServlet</display-name>
    <servlet-name>GetNickNameServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.GetNickNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNickNameServlet</servlet-name>
    <url-pattern>/getNickName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>callImageServlet</display-name>
    <servlet-name>callImageServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.callImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callImageServlet</servlet-name>
    <url-pattern>/callImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTeamServlet</display-name>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamServlet</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeamServlet</display-name>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.DeleteTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeamServlet</servlet-name>
    <url-pattern>/deleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetTeamSession</display-name>
    <servlet-name>SetTeamSession</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.SetTeamSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetTeamSession</servlet-name>
    <url-pattern>/SetTeamSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goModal</display-name>
    <servlet-name>goModal</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.goModal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goModal</servlet-name>
    <url-pattern>/goModal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goManageTeam</display-name>
    <servlet-name>goManageTeam</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.goManageTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goManageTeam</servlet-name>
    <url-pattern>/goManageTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>callMemberImage</display-name>
    <servlet-name>callMemberImage</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.callMemberImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callMemberImage</servlet-name>
    <url-pattern>/callMemberImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMemberServelt</display-name>
    <servlet-name>deleteMemberServelt</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.deleteMemberServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMemberServelt</servlet-name>
    <url-pattern>/deleteMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotEmailServlet</display-name>
    <servlet-name>forgotEmailServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.member.web.forgotEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotEmailServlet</servlet-name>
    <url-pattern>/forgotEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewMemberServlet</display-name>
    <servlet-name>addNewMemberServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.addNewMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewMemberServlet</servlet-name>
    <url-pattern>/addNewMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDayChatServlet</display-name>
    <servlet-name>GetDayChatServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.calendar.web.GetDayChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDayChatServlet</servlet-name>
    <url-pattern>/getDayChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.calendar.web.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDayChatServlet</display-name>
    <servlet-name>ShowDayChatServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.calendar.web.ShowDayChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDayChatServlet</servlet-name>
    <url-pattern>/showDayChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatByKeywordServlet</display-name>
    <servlet-name>GetChatByKeywordServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.GetChatByKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatByKeywordServlet</servlet-name>
    <url-pattern>/getChatByKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetKeywordServlet</display-name>
    <servlet-name>GetKeywordServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.GetKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKeywordServlet</servlet-name>
    <url-pattern>/getKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.calendar.web.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.calendar.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>outTeamServlet</display-name>
    <servlet-name>outTeamServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.outTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>outTeamServlet</servlet-name>
    <url-pattern>/outTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteWaitingMemberServlet</display-name>
    <servlet-name>deleteWaitingMemberServlet</servlet-name>
    <servlet-class>com.ktds.pingpong.team.web.deleteWaitingMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteWaitingMemberServlet</servlet-name>
    <url-pattern>/deleteWaitingMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goWaitingTeam</display-name>
    <servlet-name>goWaitingTeam</servlet-name>
    <servlet-class>com.ktds.pingpong.chat.web.goWaitingTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goWaitingTeam</servlet-name>
    <url-pattern>/goWaitingTeam</url-pattern>
  </servlet-mapping>
</web-app>